<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artist Profile | ArtistSync</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/as-favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/as-favicon-16x16.png">
    <link href="../static/styles/profile-artist.css" rel="stylesheet">

</head>

<body>
    <header>
        <div class="header-container">
            <img src="../static/images/artistsync-logo-col.png" alt="ArtSync Logo" class="header-logo">
            <ul>
                <li><a href="/">
                        <img src="../static/images/icon-home.png" alt="Home Logo" class="header-icons">
                    </a></li>
                <li><a href="index.html">
                        <img src="../static/images/icon-mic.png" alt="Mic Logo" class="header-icons">
                    </a></li>
                <li><a href="index.html">
                        <img src="../static/images/icon-adjust.png" alt="Search Logo" class="header-icons">
                    </a></li>
                <li><a href="index.html">
                        <img src="../static/images/icon-search.png" alt="Search Logo" class="header-icons">
                    </a></li>
            </ul>
            <a class="header-user">
                <img src="../static/images/icon-user.png" alt="ThinkGreen Afrika Logo" class="header-icons">
            </a>
        </div>
    </header>


    <div class="profile-modal">
        <ul>
            <li class="btn-dashboard" id="btn-dashboard"><a>
                    <img src="../static/images/icon-profile.png" alt="Profile Logo">
                </a>Profile</li>
            <li class="btn-settings" id="btn-settings"><a>
                    <img src="../static/images/icon-settings.png" alt="Settings Logo">
                </a>User Settings</li>
            <li class="btn-bookings" id="btn-bookings"><a>
                    <img src="../static/images/icon-booking.png" alt="booking Logo">
                </a>Bookings</li>
            <li class="btn-chat" id="btn-chat"><a>
                    <img src="../static/images/icon-chat.png" alt="chat Logo">
                </a>SynChat</li>
            <li class="btn-signout" id="btn-signout"><a>
                    <img src="../static/images/icon-logout.png" alt="logout Logo">
                </a>Log Out</li>
        </ul>
    </div>


    <section class="Studio-hero">
        <div class="hero-container">
            <div class="hero-content">
                <div class="hero-content-text">
                    <img class="hero-avatar-image" src="../static/images/artist-pic-1.jpg" alt="Artist Image">
                    <div class="hero--container">
                        <div class="hero-title-container">
                            <h1 class="hero-title">John Doe</h1>
                        </div>
                        <h2 class="hero-subtitle">
                            <span><a>Afrobeats Producer</a></span>
                        </h2>
                    </div>


                </div>
                <div class="hero-content-button">
                    <button class="btn-stand">Contact</button>
                </div>
            </div>
            <div class="hero-info-container">
                <div class="hero-location-container">
                    <img class="location-icon" src="../static/images/icon-location.png" alt="Location Icon">
                    <h2 class="hero-location">Kimironko, Kigali</h2>
                </div>
                <div class="hero-social-container">
                    <div class="hero-social-links">
                        <a href="https://www.facebook.com/John_Doe">
                            <img src="../static/images/icon-facebook.png" alt="Facebook Icon" class="hero-social-icon"
                                target="_blank">
                            Facebook
                        </a>
                        <a href="https://www.twitter.com/John_Doe">
                            <img src="../static/images/icon-twitter.png" alt="Twitter Icon" class="hero-social-icon"
                                target="_blank">
                            Twitter
                        </a>
                        <a href="https://www.instagram.com/John_Doe">
                            <img src="../static/images/icon-instagram.png" alt="Instagram Icon" class="hero-social-icon"
                                target="_blank">
                            Instagram
                        </a>
                    </div>
                </div>
            </div>

            <div class="hero-supporting-container">
                <h3 class="hero-supporting-title">About the Producer</h3>
                <p class="hero-supporting">
                    A talented Afrobeats producer based in Kigali, specializing in creating vibrant and catchy beats
                    that
                    resonate with the local music scene. Known for collaborating with various artists to produce
                    chart-topping hits.
                </p>
            </div>
        </div>
    </section>
    <section class="amenities-section">
        <div class="studio-equipment">
            <h2>Quick Info</h2>
            <ul class="equipment-list">
                <li> - 5 years experience</li>
                <li> - FL Studio user</li>
                <li> - Worked with Popular Kigali Artists</li>
            </ul>
        </div>
        <div class="studio-equipment">
            <h2>Pricing</h2>
            <ul class="equipment-list">
                <li>Non-exclusive Beat Lease - RWF 10 000</li>
                <li>Exclusive Beat Lease - RWF 30 000</li>
                <li>Exclusive Beat Lease + Stems - RWF 50 000</li>
            </ul>
        </div>
    </section>
    <section class="studio-gallery">
        <h2>Beat Portfolio</h2>
        <div class="gallery-content">

            <div class="prod-beats-content" data-beat-id="1">
                <h3>Give You Up</h3>

                <!-- Progress bar -->
                <input type="range" class="progress-slider" value="0" min="0" max="100">

                <div class="btn-controls">
                    <a class="play-toggle-btn">
                        <img src="../static/images/icon-play.png" class="play-icon" alt="Play">
                        <img src="../static/images/icon-pause.png" class="pause-icon" alt="Pause"
                            style="display: none;">
                    </a>

                    <a class="volume-btn">
                        <img src="../static/images/icon-volume.png" alt="Volume">
                    </a>
                    <input type="range" class="volume-slider" min="0" max="1" step="0.01" value="1"
                        style="display: none;">
                </div>

                <!-- Audio element -->
                <audio class="audio-player" src="../static/audio/rickroll.mp3"></audio>
            </div>


        </div>
        <h2>Most Recent Placements</h2>
        <div class="gallery-content">
            <iframe data-testid="embed-iframe" style="border-radius:12px"
                src="https://open.spotify.com/embed/track/4PTG3Z6ehGkBFwjybzWkR8?utm_source=generator" width="40%"
                height="152" frameBorder="0" allowfullscreen=""
                allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                loading="lazy"></iframe>
            <iframe data-testid="embed-iframe" style="border-radius:12px"
                src="https://open.spotify.com/embed/track/1pUe0zgr4uRQoEnq405gZs?utm_source=generator" width="40%"
                height="152" frameBorder="0" allowfullscreen=""
                allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                loading="lazy"></iframe>
        </div>
        <div class="collab-container">
            <h2>Other Creatives</h2>
            <div class="collab-content">
                <div class="collab-listing">
                    <div class="collab-pic">
                        <img src="../static/images/collab-pic-3.jpg" alt="collab-pic">
                    </div>
                    <div class="collab-listing-title">
                        <h3>Metro Boomin</h3>
                    </div>
                    <p>Trap Producer • Atlanta</p>
                    <a class="btn-view" href="artist-listing.html">
                        View Profile
                    </a>
                </div>
                <div class="collab-listing">
                    <div class="collab-pic">
                        <img src="../static/images/collab-pic-3.jpg" alt="collab-pic">
                    </div>
                    <div class="collab-listing-title">
                        <h3>Metro Boomin</h3>
                    </div>
                    <p>Trap Producer • Atlanta</p>
                    <a class="btn-view" href="artist-listing.html">
                        View Profile
                    </a>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <section class="footer-container">
            <div class="footer-info-container">
                <div class="footer-info-content">
                    <img src="../static/images/artistsync-logo-col.png" alt="ArtistSync Logo" class="footer-logo">
                    <div>
                        <h1>ArtistSync</h1>
                        <h3>Connecting artists with the best studios and producers in Kigali.</h3>
                    </div>
                </div>
                <ul class="social-links">
                    <li><a href="https://www.facebook.com/ArtistSync">
                            <img src="../static/images/icon-facebook.png" alt="Facebook">
                        </a></li>
                    <li><a href="https://www.twitter.com/ArtistSync">
                            <img src="../static/images/icon-twitter.png" alt="Twitter">
                        </a></li>
                    <li><a href="https://www.instagram.com/ArtistSync">
                            <img src="../static/images/icon-instagram.png" alt="Instagram">
                        </a></li>
                </ul>
            </div>
            <ul class="footer-content">
                <li><a href="index.html">Home</a></li>
                <li><a href="artist-listing.html">Artists</a></li>
                <li><a href="studio-listing.html">Studios</a></li>
                <li><a href="contact.html">Contact Us</a></li>
            </ul>

        </section>
        <div class="footer-bottom">
            <p>&copy; Copywright © ArtistSync | Powered by DOGE Coin</p>
        </div>
    </footer>
</body>
<script src="../static/scripts/profile-artist.js"></script>
<script src="../static/scripts/uni-header.js"></script>

</html>