<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Service Profile | ArtistSync</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/as-favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/as-favicon-16x16.png">
    <link href="../static/styles/profile-studio.css" rel="stylesheet">

</head>

<body>
    <header>
        <div class="header-container">
            <img src="../static/images/artistsync-logo-col.png" alt="ArtSync Logo" class="header-logo">
            <ul>
                <li><a href="/">
                        <img src="../static/images/icon-home.png" alt="Home Logo" class="header-icons">
                    </a></li>
                <li><a href="/">
                        <img src="../static/images/icon-mic.png" alt="Mic Logo" class="header-icons">
                    </a></li>
                <li><a href="/">
                        <img src="../static/images/icon-adjust.png" alt="Search Logo" class="header-icons">
                    </a></li>
                <li><a href="/">
                        <img src="../static/images/icon-search.png" alt="Search Logo" class="header-icons">
                    </a></li>
            </ul>
            <a class="header-user" href="/artist-profile">
                <img src="../static/images/icon-user.png" alt="User Logo" class="header-icons">
            </a>
        </div>
    </header>


    <div class="profile-modal">
        <ul>
            <li class="btn-dashboard" id="btn-dashboard"><a>
                    <img src="../static/images/icon-profile.png" alt="Profile Logo">
                </a>Profile</li>
            <li class="btn-settings" id="btn-settings"><a>
                    <img src="../static/images/icon-settings.png" alt="Settings Logo">
                </a>User Settings</li>
            <li class="btn-bookings" id="btn-bookings"><a>
                    <img src="../static/images/icon-booking.png" alt="booking Logo">
                </a>Bookings</li>
            <li class="btn-chat" id="btn-chat"><a>
                    <img src="../static/images/icon-chat.png" alt="chat Logo">
                </a>SynChat</li>
            <li class="btn-signout" id="btn-signout"><a>
                    <img src="../static/images/icon-logout.png" alt="logout Logo">
                </a>Log Out</li>
        </ul>
    </div>


    <section class="Studio-hero">
        <div class="hero-container">
            <div class="hero-content">
                <div class="hero-content-text">
                    <div class="hero-title-container">
                        <h1 class="hero-title">AirHead Recording Center</h1>
                    </div>

                    <h2 class="hero-subtitle">
                        Owned by <span><a>Someone Here</a></span>
                    </h2>
                </div>
                <div class="hero-content-button">
                    <button id="btn-book-studio" class="btn-stand">Book Now</button>
                    <button id="btn-contact-studio" class="btn-stand">Contact</button>
                </div>
            </div>
            <div class="hero-location-container">
                <img class="location-icon" src="../static/images/icon-location.png" alt="Location Icon">
                <h2 class="hero-location">Kimironko, Kigali</h2>
            </div>
            <div class="hero-supporting-container">
                <h3 class="hero-supporting-title">About the Studio</h3>
                <p class="hero-supporting">
                    A premier recording studio located in Kimironko, Kigali, offering top-notch sound engineering and
                    production services. AirHead offers high-quality recording and mixing services with
                    professional engineers and modern equipment. Ideal for solo artists, bands, and voiceover projects.
                </p>
            </div>
        </div>
    </section>
    <section class="amenities-section">
        <div class="studio-equipment">
            <h2>Equipment & Features</h2>
            <ul class="equipment-list">
                <li> - Soundproof recording booth</li>
                <li> - Yamaha HS8 Monitors</li>
                <li> - Focusrite Scarlett Audio Interface</li>
                <li> - Shure SM7B Microphone</li>
                <li> - Digital Mixing Console</li>
            </ul>
        </div>
        <div class="studio-equipment">
            <h2>Pricing</h2>
            <ul class="equipment-list">
                <li>Hourly Recording - RWF 10 000</li>
                <li>Mixing and Mastering - RWF 30 000 / track</li>
                <li>Full Day Studio Rental - RWF 50 000</li>
            </ul>
        </div>
    </section>
    <section class="studio-gallery">
        <h2>Studio Gallery</h2>

        <div class="gallery-slideshow">
            <div class="gallery-slide fade">
                <img src="../static/images/studio-pic-1.jpg" alt="Studio Image 1">
            </div>
            <div class="gallery-slide fade">
                <img src="../static/images/studio-pic-2.jpg" alt="Studio Image 2">
            </div>
            <div class="gallery-slide fade">
                <img src="../static/images/studio-pic-1.jpg" alt="Studio Image 3">
            </div>
            <div class="gallery-slide fade">
                <img src="../static/images/studio-pic-2.jpg" alt="Studio Image 4">
            </div>

            <!-- Navigation arrows -->
            <a class="prev">&#10094;</a>
            <a class="next">&#10095;</a>
        </div>

        <!-- Dots -->
        <div class="dot-container">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div>
    </section>

    <section class="modal-booking-container" id="modal-container">
        <div class="modal-booking-content">
            <h2>Booking for:</h2>
            <h3>AirHead Recording Center</h3>
            <div class="booking-form">

                <label for="duration">Services</label>
                <select class="">
                    <option>Hourly Recording</option>
                    <option>Mixing & Mastering</option>
                    <option>Full Day Rental</option>
                </select>
                <div class="form-grid">
                    <div class="form-grid-item">
                        <label for="date">Booking Date:</label>
                        <input type="date" id="date" name="date">
                    </div>
                    <div class="form-grid-item">
                        <label for="time">Booking Time:</label>
                        <input type="time" id="time" name="time">
                    </div>

                </div>
                <div class="form-comment">
                    <label for="date">Comment (Optional)</label>
                    <input type="text" name="comment">
                </div>
                <div class="form-button-container">
                    <button class="btn-stand" type="submit">Book</button>
                    <button class="btn-stand" id="btn-close-modal">Close</button>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <section class="footer-container">
            <div class="footer-info-container">
                <div class="footer-info-content">
                    <img src="../static/images/artistsync-logo-col.png" alt="ArtistSync Logo" class="footer-logo">
                    <div>
                        <h1>ArtistSync</h1>
                        <h3>Connecting artists with the best studios and producers in Kigali.</h3>
                    </div>
                </div>
                <ul class="social-links">
                    <li><a href="https://www.facebook.com/ArtistSync">
                            <img src="../static/images/icon-facebook.png" alt="Facebook">
                        </a></li>
                    <li><a href="https://www.twitter.com/ArtistSync">
                            <img src="../static/images/icon-twitter.png" alt="Twitter">
                        </a></li>
                    <li><a href="https://www.instagram.com/ArtistSync">
                            <img src="../static/images/icon-instagram.png" alt="Instagram">
                        </a></li>
                </ul>
            </div>
            <ul class="footer-content">
                <li><a href="/">Home</a></li>
                <li><a href="artist-listing.html">Artists</a></li>
                <li><a href="studio-listing.html">Studios</a></li>
                <li><a href="contact.html">Contact Us</a></li>
            </ul>

        </section>
        <div class="footer-bottom">
            <p>&copy; Copywright © ArtistSync | Powered by DOGE Coin</p>
        </div>
    </footer>
</body>
<script src="../static/scripts/profile-studio.js"></script>
<script src="../static/scripts/uni-header.js"></script>

</html>