<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up | ArtistSync</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/as-favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/as-favicon-16x16.png">
    <link href="../static/styles/login.css" rel="stylesheet">

</head>

<body>
    <header>
    </header>
    <section class="hero-container">
        <div class="hero-content">
            <div class="hero-logo">
                <img src="../static/images/artistsync-logo-col.png" alt="artistsync-logo" class="header-logo">
                <h1 class="hero-logo-title">
                    Artist<span>Sync</span>
                </h1>
            </div>
            <p class="hero-supporting">
                Login your existing an account to connect with artists, studios, and gigs across Rwanda.
            </p>
        </div>
        <div class="hero-form">
            <h2>Login</h2>
            <form id="login-form">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <div class="password-input">
                        <input type="password" id="password" name="password" required>
                        <button type="button" class="btn-pass-show">
                            <img src="../static/images/icon-lock.png" alt="lock-icon" id="password-show">
                        </button>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn-login">Login</button>
                </div>
            </form>
            <div class="form-group">
                <p class="register-link">Don't have an account? <a href="/sign-up">Register here</a></p>
            </div>

    </section>
    <footer>
        <div>
            <p>&copy; 2025 Artist In Africa. All rights reserved.</p>

        </div>
    </footer>
</body>
<script src="../static/scripts/sign-in.js"></script>

</html>