<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up - ArtistSync</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/as-favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/as-favicon-16x16.png">
    <link href="../static/styles/sign-up.css" rel="stylesheet">

</head>

<body>
    <header>
    </header>
    <section class="hero-container">
        <div class="hero-content">
            <div class="hero-logo">
                <img src="../static/images/artistsync-logo-col.png" alt="artistsync-logo" class="header-logo">
                <h1 class="hero-logo-title">
                    Artist<span>Sync</span>
                </h1>
            </div>
            <p class="hero-supporting">
                Create a new account to connect with artists, studios, and gigs across Rwanda.
            </p>
        </div>
        <div class="hero-form">
            <h2>Select a user type to register</h2>
            <div class="selection-container">
                <div class="user-type-selection">
                    <div class="user-type-content">
                        <h3 class="btn-user-type" id="artist-btn">Artist</h3>
                        <div class="btn-type-select">
                            <p>Find collaborations easily, book studio sessions easily within ArtistSync</p>
                            <a href="/sign-up-artist"><img src="../static/images/icon-next.png" class="btn-next"></a>
                        </div>
                    </div>
                    <img src="../static/images/icon-mic.png" class="user-type-img">
                </div>
                <div class="user-type-selection">
                    <div class="user-type-content">
                        <h3 class="btn-user-type" id="artist-btn">Studio Owner</h3>
                        <div class="btn-type-select">
                            <p>Get artists to book sessions with you easily</p>
                            <a href="/sign-up-studio"><img src="../static/images/icon-next.png" class="btn-next"></a>
                        </div>
                    </div>
                    <img src="../static/images/icon-mixer.png" class="user-type-img">
                </div>
                <div class="user-type-selection">
                    <div class="user-type-content">
                        <h3 class="btn-user-type" id="artist-btn">Service Provider</h3>
                        <div class="btn-type-select">
                            <p>Get artists to book sessions with you easily</p>
                            <a href="/sign-up-service"><img src="../static/images/icon-next.png" class="btn-next"></a>
                        </div>
                    </div>
                    <img src="../static/images/icon-painting.png" class="user-type-img">
                </div>
            </div>
            <div class="form-group">
                <p class="register-link">Have an account already? <a href="/sign-in">Login here</a></p>
            </div>

    </section>
    <footer>
        <div>
            <p>&copy; 2025 ArtistSync. All rights reserved.</p>

        </div>
    </footer>
</body>
<script src="../static/scripts/sign-up.js"></script>

</html>