<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Studio Owner Sign Up | ArtistSync</title>
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/as-favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/as-favicon-16x16.png">
    <link href="../static/styles/sign-up-service.css" rel="stylesheet">

</head>

<body>
    <header>
    </header>
    <section class="hero-container">
        <div class="hero-content">
            <div class="hero-logo">
                <img src="../static/images/artistsync-logo-white.png" alt="artistsync-logo" class="header-logo">
                <h1 class="hero-logo-title">
                    Artist<span>Sync</span>
                </h1>
            </div>
            <p class="hero-supporting">
                Create a new <span>Studio Owner</span> account to connect with studios, and gigs across Rwanda.
            </p>
        </div>
        <div class="hero-form">
            <form id="studio-register-form">
                <h2>Register as Studio Owner</h2>

                
                <div class="form-group">
                    <label for="email">Email*</label>
                    <input type="email" id="email" name="email" required>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <div class="password-input">
                        <input type="password" id="password" name="password" required>
                        <button type="button" class="btn-pass-show">
                            <img src="../static/images/icon-lock.png" alt="lock-icon" id="password-show">
                        </button>
                    </div>
                </div>

                <div class="form-group">
                    <label for="username">Username*</label>
                    <input type="text" id="username" name="username" required>
                </div>

                <div class="form-group">
                    <label>Your Country/Region*</label>
                    <select id="country" name="country" required>
                        <option>Rwanda</option>
                        <option>Eswatini</option>
                        <option>South Africa</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>City/Town*</label>
                    <input type="text" id="city" name="city" required>
                </div>

                <div class="form-group">
                    <label>Studio Name*</label>
                    <input type="text" id="studio-name" name="studio-name" required>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn-login">Continue</button>
                </div>
            </form>

            <div class="form-group">
                <p class="register-link">Have an account? <a href="/">Login here</a></p>
            </div>

    </section>
    <footer>
        <div>
            <p>&copy; 2025 ArtistSync. All rights reserved.</p>
        </div>
    </footer>
</body>
<script src="../static/scripts/sign-up-service.js"></script>

</html>