/* Global Colors */
:root {
  --primary-color: #ff6700;
  --hover-color: #005766;
  --secondary-color: #003566;
  --tertiary-color: #18222c;
  --background-color: #000814;
  --background-alt-color: #ffffff;
  --font-color: #ffffff;
  --font-alt-color: #000814;
  --shadow-color: #00000033;
  --border-color: #ffffff;
  --hover-color: #04b2d4;
  --button-color: #04b2d4;
  --button-hover-color: #90e0efff;
  --alt-secondary-color: #fda86e;
  --alt-tertiary-color: #18222c;
  --marian-blue: #023e8aff;
  --honolulu-blue: #0077b6ff;
  --blue-green: #0096c7ff;
  --vivid-sky-blue: #48cae4ff;
  --non-photo-blue-2: #ade8f4ff;
}
/* Global Fonts */
@font-face {
  font-family: "Creato";
  src: url("../fonts/CreatoDisplay-Black.woff") format("woff"),
    url("../fonts/CreatoDisplay-Black.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Krona One";
  src: url("../fonts/KronaOne-Regular.woff") format("woff"),
    url("../fonts/KronaOne-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.woff") format("woff"),
    url("../fonts/Raleway-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

:root {
  --default-font: "Raleway", sans-serif;
  --heading-font: "Creato", sans-serif;
  --paragraph-font: "Raleway", sans-serif;
  --logo-font: "Krona One", sans-serif;
  transition: 0.3s;
}

* {
  transition: all 0.3s ease;
}

a,
p,
h1,
h2,
h3 {
  text-decoration: none;
  color: var(--font-color);
  font-family: var(--default-font);
  font-weight: normal;
  transition: 0.3s;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: var(--heading-font);
  font-weight: normal;
  font-size: x-large;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 80px;
  color: var(--font-color);
  width: 100%;
}
.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.header-logo {
  width: 50px;
  height: 50px;
}

.header-icons {
  width: 30px;
  height: 30px;
  padding-right: 20px;
}

.header-icons:hover {
  filter: brightness(0.8);
  transform: scale(0.95);
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 80px;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--font-color);
  font-weight: bold;
}

a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0px;
}
.btn-stand {
  color: var(--font-color);
  background-color: var(--button-color);
  font-size: large;
  padding: 10px 30px;
  margin: 20px;
  width: 120px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-stand:hover {
  background-color: var(--button-hover-color);
}

.btn-stand-alt {
  color: var(--font-color);
  background-color: var(--primary-color);
  font-size: large;
  padding: 10px 30px;
  margin: 20px;
  width: 120px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-stand-alt:hover {
  background-color: var(--alt-secondary-color);
  transition: 0.3s;
}

body {
  background: linear-gradient(90deg, #000814 0%, #003566 100%);
  padding: 0;
  margin: 0;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 100%;
}

.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 70vh;
  max-width: 72rem;
}

.hero-content h1 {
  font-size: 3.5rem;
  color: var(--font-color);
  margin-bottom: 20px;
  width: 70%;
}

.hero-content p {
  padding: 10px 0;
  font-size: 1.5rem;
  width: 60%;
}

.header-user {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: var(--font-color);
  margin: 0px;
}

.search-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0px;
}

.search-input {
  border-radius: 5px;
  font-size: 1rem;
  color: var(--font-alt-color);
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  width: 500px;
}

.studios-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  width: 100%;
}

.studios-container h2 {
  font-family: var(--heading-font);
  font-size: 3rem;
  color: var(--font-color);
  margin-top: 50px;
  width: 70%;
}

.studios-content {
  display: flex;
  align-items: center;
  background-color: var(--background-color);
  width: 100%;
  overflow-x: auto;
  flex-direction: row;
  flex-wrap: nowrap;
  scroll-behavior: smooth;
}

.verified-icon {
  width: 20px;
  height: 20px;
  border-radius: 0px;
}

.sel-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  border-radius: 20px 0px;
  margin: 50px 0px 50px 20px;
  background-color: var(--tertiary-color);
}

.sel-icon-img {
  position: relative;
}

.btn-view {
  color: var(--font-color);
  background-color: var(--tertiary-color);
  border: 2px solid var(--font-color);
  font-size: large;
  padding: 10px 30px;
  margin: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.btn-view:hover {
  background-color: var(--hover-color);
  transition: 0.3s;
}

.sel-icon h3 {
  font-size: 1.5rem;
  color: var(--font-color);
  margin-bottom: 10px;
  font-weight: bolder;
}

.sel-icon p {
  color: var(--font-color);
  margin-left: 20px;
}

.sel-icon img {
  width: 320px;
  height: 210px;
  object-fit: cover;
  margin: 20px;
  border-radius: 20px 0px;
}

.stu-listing-title {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: left;
  margin-left: 20px;
  align-items: flex-start;
}

.stu-listing-title img {
  width: 20px;
  height: 20px;
  margin: 0px 0px 5px 5px;
  border-radius: 0px;
  padding: 0;
}

.collab-listing-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5px;
  margin-bottom: 5px;
  margin-left: 0px;
}

.other-container h1 {
  font-size: 2rem;
  color: var(--font-color);
  margin-top: 20px;
  width: 70%;
}

.studios-link {
  font-size: 2rem;
  color: var(--font-color);
  margin: 20px 0px;
  width: 70%;
}

.collabs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  width: 100%;
}

.collabs-container h2 {
  font-family: var(--heading-font);
  font-size: 3rem;
  color: var(--font-color);
  margin: 0px;
  width: 70%;
}

.collabs-content {
  margin: 50px;

  gap: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background-color);
  width: 100%;
  overflow-x: auto;
  flex-direction: row;
  flex-wrap: nowrap;
  scroll-behavior: smooth;
}

.collab-listing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px 0px;
  background-color: var(--tertiary-color);
}

.collab-pic img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  margin: 20px;
  border-radius: 15px 0px;
}

.collab-listing-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 5px;
}

.collab-listing-title img {
  width: 20px;
  height: 20px;
  margin: 0px 0px 5px 0px;
  padding: 0;
}


/* Footer */

footer {
  display: flex;
  flex-direction: column;
  left: 0;
  bottom: 0;
  width: 100%;

  background-color: var(--tertiary-color);
}
.footer-bottom {
  display: flex;
  flex-direction: column;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
  color: var(--font-color);

  padding: 10px;
  padding-left: 0px;
  font-size: 0.9rem;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 20px;
}

.footer-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: left;
  padding: 20px;
  border-radius: 30px 0px;
  width: 100%;
}

.footer-info-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.footer-info-container h1 {
  font-family: var(--heading-font);
  font-size: 2rem;
  color: var(--font-color);
  margin-bottom: 10px;
}

.footer-info-container h3 {
  width: 80%;
}

.footer-logo {
  width: 130px;
  height: auto;
  margin-right: 20px;
}

.footer-links-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding: 20px;
  width: 35%;
}

.footer-content {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
}

.footer-content li a:hover {
  color: var(--button-color);
  transition: 0.3s;
}

.social-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  text-align: left;
  gap: 30px;
  padding: 0;
  margin: 0;
  align-content: center;
  flex-wrap: nowrap;
}

.social-links img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.social-links img:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: 0.3s;
}
